@page
@model Bookstore.Pages.PurchaseCompletedModel
@{
}

<div class="text-center">
    <h2>Thank you! We hope you enjoy your new books!</h2>
    <a class="btn btn-primary" asp-controller="Home">Return Home</a>
</div>
<div class="alert alert-success" role="alert">
    <strong>Yahoo!</strong> Your order went through. You can leave the rest up to us!
</div>